@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --dull-purple: #666CA3;
    --dark-blue: #13183F;
    --gray-blue: #83869A;
    --hot-pink: #F74780;
    --light-pink: #FFA7C3;
    --white: #FFFFFF;
    --orange-gradient: linear-gradient(180deg,
                                       #FF6F48,
                                       #F02AA6);
    --purple-gradient: linear-gradient(180deg,
                                       #4851FF 0%,
                                       #F02AA6 100%);
    --body-gradient: linear-gradient(180deg,
                                     #FFF 0%,
                                     #F0F1FF 100%);
    --jakarta: 'Plus Jakarta Sans', sans-serif;
    --heading-XL: 56px;
    --heading-L: 40px;
    --heading-M: 32px;
    --heading-SM: 24px;
    --body-font-M: 18px;
    --body-font-SM: 16px;

}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-family: var(--jakarta);
}

nav > button {
    cursor: pointer;
}

button {
    position: relative;
    width: 140px;
    height: 48px;
    border: none;
    border-radius: 24px;
    font-weight: 700;
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 1.5rem;
    max-width: 16rem;
    cursor: pointer;
    transition: 0.2s opacity ease-in-out;
    z-index: 2;
}

button:hover {
    opacity: 50%;
}

picture > img {
    max-width: 400px;
}

.main-container {
    max-width: 375px;
    background: var(--body-gradient);
}

.info-container {
    padding: 3rem 2rem;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.first-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.left-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.first-section > .left-section > h1 {
    font-size: var(--heading-L);
    font-weight: 800;
    color: var(--dark-blue);
}

.first-section > .left-section > p:nth-child(2) {
    font-size: var(--body-font-SM);
    font-weight: 500;
    color: var(--gray-blue);
    line-height: 2.3rem;
    max-width: 100%;
    margin-bottom: .5rem;
}

.first-section > .left-section > button {
    width: 167px;
    height: 56px;
    border-radius: 30px;
    background: var(--orange-gradient);
}



.course-grid {
    display: grid;
    gap: 4.5rem;
    grid-template-areas: "header"
                         "animation"
                         "design"
                         "photography"
                         "crypto"
                         "business";
}


.course-grid-cell {
    position: relative;
    width: 340px;
    height: 259px;
    background: var(--white);
    padding-inline: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 8px;
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
    z-index: 1;
}

.course-outline {
    background: var(--orange-gradient);
    width: 343px;
    height: 120px;
    border-radius: 8px;
    font-size: var(--heading-SM);
    font-weight: 700;
    color: var(--white);
    grid-area: header;
    display: flex;
    align-items: center;
    padding-inline: 2rem;    
}

.cell-1 {
    grid-area: animation;
}

.cell-2 {
    grid-area: design;
}

.cell-3 {
    grid-area: photography;
}

.cell-4 {
    grid-area: crypto;
}

.cell-5 {
    grid-area: business;
}

.course-grid-cell > img {
    position: absolute;
    top: -30px;;
    width: 56px;
    height: 56px;
    object-fit: cover;
    z-index: 2;
}

.course-grid-cell > p:first-of-type {
    font-weight: 800;
    font-size: 20px;
    color: var(--dark-blue);
    margin-top: 6rem;
}

.course-grid-cell > p:last-of-type {
    font-size: var(--body-font-SM);
    color: var(--gray-blue);
    line-height: 2.6rem;
}

.course-grid-cell > a:link {
    text-decoration: none;
    color: var(--hot-pink);
    font-weight: 700;
    font-size: var(--body-font-M);
    cursor: pointer;
    transition: 0.2s opacity ease-in-out;
}

.course-grid-cell > a:hover {
    opacity: 0.5;
}

.course-grid-cell:last-of-type {
    margin-bottom: 5rem;
}

footer {
    display: flex;
    padding: 3rem 1.5rem;
    background: var(--dark-blue);
    justify-content: space-between;
    align-items: center;
}

footer > button {
    background: var(--purple-gradient);
}

.logo {
    width: 75px;
}

@media screen and (min-width: 600px) {

    .main-container {
        
        max-width: 768px;
    }

    .first-section {
        display: grid;
        grid-template-areas: "summary picture";
        grid-template-columns: 55% 45%;
        margin-bottom: -15rem;
        position: relative;
        
    }

    .left-section {
        grid-area: summary;
        margin-top: 10rem;
    }

    .first-section > .left-section > p:nth-child(2) {
        
    }

    .picture-container {
        grid-area: picture;
        width: 40rem;
        
    
    }

    picture > img {
        position: relative;
        bottom: 18rem;
        right: 7rem;
        max-width: 90rem;
        
    }

    

    .course-grid {
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "header animation"
                             "design photography"
                             "crypto business";
        padding-right: 4rem;
    }

    .course-outline {
        max-width: 339px;
        height: 259px;
    }

    .course-grid-cell {
        max-width: 339px;
        height: 259px;
    }
}

@media screen and (min-width: 1000px) {

    .main-container {
        max-width: 1440px;
        grid-template-columns: 50% 50%;
    }

    nav {
        padding-inline: 16.5rem;
    }

    .first-section {
        padding-inline: 16.5rem;
           
    }

    .left-section {
        max-width: 40rem;
    }

    .course-grid {
        grid-template-columns: repeat(3, 33%);
        grid-template-areas: "header animation design"
                             "photography crypto business";
        padding-inline: 16.5rem;
    }

    picture > img {
        bottom: 25rem;
        left: 5rem;
    }
}



